<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WsDoctorMapper">
  <resultMap id="BaseResultMap" type="com.domain.WsDoctor">
    <!--@mbg.generated-->
    <!--@Table WS_DOCTOR-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME_DOCTOR" jdbcType="VARCHAR" property="nameDoctor" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="DEPT" jdbcType="VARCHAR" property="dept" />
    <result column="SIGN" jdbcType="VARCHAR" property="sign" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, NAME_DOCTOR, "TYPE", DEPT, SIGN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from WS_DOCTOR
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from WS_DOCTOR
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.domain.WsDoctor">
    <!--@mbg.generated-->
    insert into WS_DOCTOR (ID, NAME_DOCTOR, "TYPE", 
      DEPT, SIGN)
    values (#{id,jdbcType=VARCHAR}, #{nameDoctor,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, 
      #{dept,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.WsDoctor">
    <!--@mbg.generated-->
    insert into WS_DOCTOR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="nameDoctor != null">
        NAME_DOCTOR,
      </if>
      <if test="type != null">
        "TYPE",
      </if>
      <if test="dept != null">
        DEPT,
      </if>
      <if test="sign != null">
        SIGN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="nameDoctor != null">
        #{nameDoctor,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.WsDoctor">
    <!--@mbg.generated-->
    update WS_DOCTOR
    <set>
      <if test="nameDoctor != null">
        NAME_DOCTOR = #{nameDoctor,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        "TYPE" = #{type,jdbcType=DECIMAL},
      </if>
      <if test="dept != null">
        DEPT = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        SIGN = #{sign,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.WsDoctor">
    <!--@mbg.generated-->
    update WS_DOCTOR
    set NAME_DOCTOR = #{nameDoctor,jdbcType=VARCHAR},
      "TYPE" = #{type,jdbcType=DECIMAL},
      DEPT = #{dept,jdbcType=VARCHAR},
      SIGN = #{sign,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectAllDoctor" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from WS_DOCTOR
  </select>
</mapper>