<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WsPicsMapper">
  <resultMap id="BaseResultMap" type="com.domain.WsPics">
    <!--@mbg.generated-->
    <!--@Table WS_PICS-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <result column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="WS_REPORT_ID" jdbcType="VARCHAR" property="wsReportId" />
    <result column="PICNAME" jdbcType="VARCHAR" property="picname" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="SELECTED" jdbcType="DECIMAL" property="selected" />
    <result column="SEQ" jdbcType="DECIMAL" property="seq" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, PATIENT_ID, PATIENT_NO, "PATH", WS_REPORT_ID, PICNAME, "TYPE", CREATETIME, SELECTED, 
    SEQ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from WS_PICS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from WS_PICS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.domain.WsPics">
    <!--@mbg.generated-->
    insert into WS_PICS (ID, PATIENT_ID, PATIENT_NO, 
      "PATH", WS_REPORT_ID, PICNAME, 
      "TYPE", CREATETIME, SELECTED, 
      SEQ)
    values (#{id,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, #{patientNo,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{wsReportId,jdbcType=VARCHAR}, #{picname,jdbcType=VARCHAR}, 
      #{type,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{selected,jdbcType=DECIMAL}, 
      #{seq,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.WsPics">
    <!--@mbg.generated-->
    insert into WS_PICS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="patientNo != null">
        PATIENT_NO,
      </if>
      <if test="path != null">
        "PATH",
      </if>
      <if test="wsReportId != null">
        WS_REPORT_ID,
      </if>
      <if test="picname != null">
        PICNAME,
      </if>
      <if test="type != null">
        "TYPE",
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="selected != null">
        SELECTED,
      </if>
      <if test="seq != null">
        SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="patientNo != null">
        #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="wsReportId != null">
        #{wsReportId,jdbcType=VARCHAR},
      </if>
      <if test="picname != null">
        #{picname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="selected != null">
        #{selected,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.WsPics">
    <!--@mbg.generated-->
    update WS_PICS
    <set>
      <if test="patientId != null">
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="patientNo != null">
        PATIENT_NO = #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        "PATH" = #{path,jdbcType=VARCHAR},
      </if>
      <if test="wsReportId != null">
        WS_REPORT_ID = #{wsReportId,jdbcType=VARCHAR},
      </if>
      <if test="picname != null">
        PICNAME = #{picname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        "TYPE" = #{type,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="selected != null">
        SELECTED = #{selected,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.WsPics">
    <!--@mbg.generated-->
    update WS_PICS
    set PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      PATIENT_NO = #{patientNo,jdbcType=VARCHAR},
      "PATH" = #{path,jdbcType=VARCHAR},
      WS_REPORT_ID = #{wsReportId,jdbcType=VARCHAR},
      PICNAME = #{picname,jdbcType=VARCHAR},
      "TYPE" = #{type,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      SELECTED = #{selected,jdbcType=DECIMAL},
      SEQ = #{seq,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>