<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WsReportWatchMapper">
  <resultMap id="BaseResultMap" type="com.domain.WsReportWatch">
    <!--@mbg.generated-->
    <!--@Table WS_REPORT_WATCH-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="WS_TEMPLET1_ID" jdbcType="VARCHAR" property="wsTemplet1Id" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="WS_REPORT_ID" jdbcType="VARCHAR" property="wsReportId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="SEQ" jdbcType="DECIMAL" property="seq" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, WS_TEMPLET1_ID, "VALUE", WS_REPORT_ID, "NAME", "TYPE", SEQ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from WS_REPORT_WATCH
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from WS_REPORT_WATCH
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.domain.WsReportWatch">
    <!--@mbg.generated-->
    insert into WS_REPORT_WATCH (ID, WS_TEMPLET1_ID, "VALUE", 
      WS_REPORT_ID, "NAME", "TYPE", 
      SEQ)
    values (#{id,jdbcType=VARCHAR}, #{wsTemplet1Id,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{wsReportId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, 
      #{seq,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.WsReportWatch">
    <!--@mbg.generated-->
    insert into WS_REPORT_WATCH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="wsTemplet1Id != null">
        WS_TEMPLET1_ID,
      </if>
      <if test="value != null">
        "VALUE",
      </if>
      <if test="wsReportId != null">
        WS_REPORT_ID,
      </if>
      <if test="name != null">
        "NAME",
      </if>
      <if test="type != null">
        "TYPE",
      </if>
      <if test="seq != null">
        SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="wsTemplet1Id != null">
        #{wsTemplet1Id,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="wsReportId != null">
        #{wsReportId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.WsReportWatch">
    <!--@mbg.generated-->
    update WS_REPORT_WATCH
    <set>
      <if test="wsTemplet1Id != null">
        WS_TEMPLET1_ID = #{wsTemplet1Id,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        "VALUE" = #{value,jdbcType=VARCHAR},
      </if>
      <if test="wsReportId != null">
        WS_REPORT_ID = #{wsReportId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        "NAME" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        "TYPE" = #{type,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.WsReportWatch">
    <!--@mbg.generated-->
    update WS_REPORT_WATCH
    set WS_TEMPLET1_ID = #{wsTemplet1Id,jdbcType=VARCHAR},
      "VALUE" = #{value,jdbcType=VARCHAR},
      WS_REPORT_ID = #{wsReportId,jdbcType=VARCHAR},
      "NAME" = #{name,jdbcType=VARCHAR},
      "TYPE" = #{type,jdbcType=DECIMAL},
      SEQ = #{seq,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>