<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WsReportWatchresultMapper">
  <resultMap id="BaseResultMap" type="com.domain.WsReportWatchresult">
    <!--@mbg.generated-->
    <!--@Table WS_REPORT_WATCHRESULT-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="WS_TEMPLET_ID" jdbcType="VARCHAR" property="wsTempletId" />
    <result column="WS_REPORT_ID" jdbcType="VARCHAR" property="wsReportId" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="SEQ" jdbcType="DECIMAL" property="seq" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, WS_TEMPLET_ID, WS_REPORT_ID, "VALUE", SEQ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from WS_REPORT_WATCHRESULT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from WS_REPORT_WATCHRESULT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.domain.WsReportWatchresult">
    <!--@mbg.generated-->
    insert into WS_REPORT_WATCHRESULT (ID, WS_TEMPLET_ID, WS_REPORT_ID, 
      "VALUE", SEQ)
    values (#{id,jdbcType=VARCHAR}, #{wsTempletId,jdbcType=VARCHAR}, #{wsReportId,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{seq,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.WsReportWatchresult">
    <!--@mbg.generated-->
    insert into WS_REPORT_WATCHRESULT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="wsTempletId != null">
        WS_TEMPLET_ID,
      </if>
      <if test="wsReportId != null">
        WS_REPORT_ID,
      </if>
      <if test="value != null">
        "VALUE",
      </if>
      <if test="seq != null">
        SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="wsTempletId != null">
        #{wsTempletId,jdbcType=VARCHAR},
      </if>
      <if test="wsReportId != null">
        #{wsReportId,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.WsReportWatchresult">
    <!--@mbg.generated-->
    update WS_REPORT_WATCHRESULT
    <set>
      <if test="wsTempletId != null">
        WS_TEMPLET_ID = #{wsTempletId,jdbcType=VARCHAR},
      </if>
      <if test="wsReportId != null">
        WS_REPORT_ID = #{wsReportId,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        "VALUE" = #{value,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.WsReportWatchresult">
    <!--@mbg.generated-->
    update WS_REPORT_WATCHRESULT
    set WS_TEMPLET_ID = #{wsTempletId,jdbcType=VARCHAR},
      WS_REPORT_ID = #{wsReportId,jdbcType=VARCHAR},
      "VALUE" = #{value,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>