<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WsUnstructuredTempletMapper">
  <resultMap id="BaseResultMap" type="com.domain.WsUnstructuredTemplet">
    <!--@mbg.generated-->
    <!--@Table WS_UNSTRUCTURED_TEMPLET-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME_TEMPLET" jdbcType="VARCHAR" property="nameTemplet" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="CATEGORY" jdbcType="DECIMAL" property="category" />
    <result column="SEQ" jdbcType="DECIMAL" property="seq" />
    <result column="WS_DOCTOR_ID" jdbcType="VARCHAR" property="wsDoctorId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, NAME_TEMPLET, PID, CONTENT, "STATUS", "TYPE", CATEGORY, SEQ, WS_DOCTOR_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from WS_UNSTRUCTURED_TEMPLET
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from WS_UNSTRUCTURED_TEMPLET
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.domain.WsUnstructuredTemplet">
    <!--@mbg.generated-->
    insert into WS_UNSTRUCTURED_TEMPLET (ID, NAME_TEMPLET, PID, 
      CONTENT, "STATUS", "TYPE", 
      CATEGORY, SEQ, WS_DOCTOR_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{nameTemplet,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{type,jdbcType=DECIMAL}, 
      #{category,jdbcType=DECIMAL}, #{seq,jdbcType=DECIMAL}, #{wsDoctorId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.domain.WsUnstructuredTemplet">
    <!--@mbg.generated-->
    insert into WS_UNSTRUCTURED_TEMPLET
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="nameTemplet != null">
        NAME_TEMPLET,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="status != null">
        "STATUS",
      </if>
      <if test="type != null">
        "TYPE",
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
      <if test="seq != null">
        SEQ,
      </if>
      <if test="wsDoctorId != null">
        WS_DOCTOR_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="nameTemplet != null">
        #{nameTemplet,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="category != null">
        #{category,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=DECIMAL},
      </if>
      <if test="wsDoctorId != null">
        #{wsDoctorId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.WsUnstructuredTemplet">
    <!--@mbg.generated-->
    update WS_UNSTRUCTURED_TEMPLET
    <set>
      <if test="nameTemplet != null">
        NAME_TEMPLET = #{nameTemplet,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        "STATUS" = #{status,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        "TYPE" = #{type,jdbcType=DECIMAL},
      </if>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=DECIMAL},
      </if>
      <if test="wsDoctorId != null">
        WS_DOCTOR_ID = #{wsDoctorId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.WsUnstructuredTemplet">
    <!--@mbg.generated-->
    update WS_UNSTRUCTURED_TEMPLET
    set NAME_TEMPLET = #{nameTemplet,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      "STATUS" = #{status,jdbcType=DECIMAL},
      "TYPE" = #{type,jdbcType=DECIMAL},
      CATEGORY = #{category,jdbcType=DECIMAL},
      SEQ = #{seq,jdbcType=DECIMAL},
      WS_DOCTOR_ID = #{wsDoctorId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>